
    <div>
        <p class="message">
          {{ talk.message }}
        </p>
        <div>
            <span>{{ talk.date|localizeddate('full', 'none') }}</span>
            <span>{{ talk.date|date('H:i:s') }}</span>
            <span><a href="{{path('user_security_profile_show_byname', {'username':talk.username})}}">{{ talk.username }}</a></span>
        </div>
    </div>
