
{% block picture %}

  <h3>{{ "tab.image"|trans }}</h3>
  <div class="tab-content">
    <div class="row">
      <div class="col-xs-6">
        <a href="{{ asset(file)}}" class="item">
          <img src="{{ asset(file)}}" alt="...">
          
        </a>
      </div>
      <div class="col-xs-6">
        <ul>
          <li><a href="{{path('admin_file',{'file_id':file.id})}}">Delete this file</a>
          <li><a href="{{path('admin_user',{'user_id':file.user.id})}}">Ban the user : {{ file.user }}</a>
        </ul>
      </div>
    </div>
  </div>

{% endblock picture %}