{# src/tvBundle/Resources/content/image.html.twig #}

{% block image %}

  <h3>{{ "tab.image"|trans }}</h3>
  <div class="tab-content">
    <div class="row">
      <div class="col-xs-12">
        <a href="{{ base_url }}uploads/img/{{ picture }}.jpeg" class="item">
          <img src="{{ base_url }}uploads/img/{{ picture }}.jpeg" alt="...">
        </a>
      </div>
    </div>
  </div>

{% endblock image %}