{# src/tvBundle/Resources/content/map.html.twig #}

{% block map %}

  <h3>{{ "tab.map"|trans }}</h3>
  <div class="tab-content">
    <div id="map_canvas"></div>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&language={{ app.request.locale }}"></script>
    <!-- hens.bes-webdeveloper-seraing.be 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrqh6qTEzamxWl6Ljp-aMb9-K9HFE-GbQ&callback=myMap"></script>
    -->
  <script src="{{ asset('bundles/app/js/' ~ mapjs) }}"></script>
  <script>
    var maplat = {{ maplat }};
    var maplng = {{ maplng }};
    var mapmaker = {{ mapmaker }};
    initMap(maplat, maplng, mapmaker);
  </script>

{% endblock map %}