
{% block map %}

  <h3>{{ "tab.map"|trans }}</h3>
  <div class="tab-content">
    <div id="map_canvas"></div>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&language={{ app.request.locale }}"></script>
    <script>
      var ajaxIcon = "{{ asset('bundles/app/img/Pin-location.png') }}";
      var homeIcon = "{{ asset('bundles/app/img/home.png') }}";
      var baseUrl = "{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/{{ locale}}";
      var thumbUrlDir = "{{ thumbUrlDir|raw }}";
      var jsonPictures = JSON.parse({{ jsonPictures|json_encode|raw }});
    </script>
    <script src="{{ asset('bundles/app/js/map_here.js') }}"></script>

{% endblock map %}