
{% block map %}

  <h3>{{ "tab.map"|trans }}</h3>
  <div class="tab-content">
    <div id="map_canvas"></div>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&language={{ app.request.locale }}"></script>
    <script>
      var homeIcon = "{{ asset('/bundles/app/img/home.png') }}";
      var book_id = "{{ book_id }}";
      var baseUrl = "{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/{{ locale}}";
      var thumbUrlDir = "{{ thumbUrlDir|raw }}";
      var mapmarkers = eval('(' + {{ mapmarkers|json_encode|raw }} + ')');
//console.log(baseUrl);
    </script>
    <script src="{{ asset('bundles/app/js/map_book.js') }}"></script>

{% endblock map %}