
{% block talk %}

<h3>Talk</h3>
<div class="tab-content">   

    
    {{ form(talk_form) }}
  
        <div>
      {% for talk in talks %}  
    <div>
        <p class="message">
          {{ talk.message }}
        </p>
        <div>
            <span>{{ talk.date|date('Y-m-d') }}</span>
            <span>{{ talk.date|date('H:i:s') }}</span>
            <span><a href="{{path('user_security_profile_show_byname', {'username':talk.username})}}">{{ talk.username }}</a></span>
        </div>
    </div>
      {% endfor %}
        </div>      
  
  <script>
  </script>
  
</div>

{% endblock talk %}