{# src/tvBundle/Resources/content/content.html.twig #}

{#
item : string (glyphicon)
title : string
tabs : array (layouts)
#}


{% extends "AppBundle:layout:layout.html.twig" %}

{% block title %}{{ parent() }} - {{ ('title.' ~ item)|trans }}{% endblock %}

{% block content %}

  <h2>
    <i class="glyphicon glyphicon-{{ item }}"></i>
    {#
    <span id="subtitle" class="editable editable-click" data-url="{{path('ajax',{item:item, field: 'title', id: book })}}" data-field="title">
    #}
      {{ title }}
    {#
    </span>
    #}
  </h2>
    
      

  <div class="tabPanel-widget">
    
    {% for tab in tabs %}
      <input name="tabs" id="tab-{{ loop.index }}"
        {% if loop.index == 1 %}
              checked="checked"
        {% endif %}
              type="radio">
      <i></i>
      {{ include("AppBundle:tabs:" ~ tab ~ ".html.twig") }}
    {% endfor %}

  </div>

{% endblock content %}