{# layout Twig template #}
<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Time-View{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/app/css/simple-sidebar.css') }}" />

    <link href="{{ asset('vendor/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/bootstrap-custom.css') }}" rel="stylesheet">

    <!-- http://vitalets.github.io/x-editable/ -->
    <link href="{{ asset('vendor/bootstrap-editable/bootstrap-editable.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/app/css/simple-sidebar.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/app/css/menu.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/form.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/app/css/tabs.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/look.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/gallery.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/item.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/comments.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/comments-custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/tags.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/map.css') }}" rel="stylesheet">
    
    <script>
        var imgBaseDir = "{{ asset('bundles/app/img/') }}"
    </script>
    
  </head>
    
    {% block body %}
  <body>

  {{ include("AppBundle:layout:navbar.html.twig") }}
  <div id="wrapper">
  

  {#{ include("AppBundle:layout:sidebar.html.twig") }#}
  {{ render(controller("AppBundle:Sidebar:view", {'originalRequest': app.request})) }}
  
      <!-- page Content-wrapper -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">

    {% block content %}
    {% endblock content %}
    

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
      
  {{ include("AppBundle:layout:js.html.twig") }}
</body>
{% endblock body %}
    
</html>