{# src/tvBundle/Resources/incl/sidebar.html.twig #}

{% block sidebar %}
    <!-- Sidebar -->
    <div id="sidebar-wrapper">

      <ul id="accordion" class="sidebar-nav">

        <li>
          <input type="checkbox" checked="checked">
          <i></i>
          <h3><span class="glyphicon glyphicon-search"></span> {{ "sidebar.mysearches"|trans }}</h3>
          <ul>
            <li class="inactive">
              <a href="#">Recherche 1</a>
              </li>
              <li class="inactive">
                <a href="#">Recherche 2</a>
              </li>
              <li class="active">
                <a href="{{ path('search') }}">
                  Liège, Gare
                </a>
              </li>
              <li class="inactive">
                <a href="#">Recherche 4</a>
              </li>
            </ul>
          </li>
        <li>
          <input type="checkbox" checked="checked">
          <i></i>
          <h3><span class="glyphicon glyphicon-book"></span> {{ "sidebar.mybooks"|trans }}</h3>
          <ul>
            {% for mybook in mybooks %}
              <li class="{{ mybook.id == book ? "current" : "inactive" }}">
                <a href="{{ path('book', { 'id':mybook.id }) }}" data-book="{{mybook.id}}">{{ mybook.title }}</a>
              </li>
            {% endfor %}
            <li class="inactive">
              <a href="{{ path('bookNew') }}">
                + {{ "sidebar.newbook"|trans }}
              </a>
            </li>
          </ul>
        </li>
        <li>
          <input type="checkbox" checked="checked">
          <i></i>
          <h3><span class="glyphicon glyphicon-user"></span> {{ "sidebar.myaccount"|trans }}</h3>
          <ul>
            <li class="inactive">
              <a href="{{ path('user', {'user': "Jonathan"}) }}">
                Déconnection
              </a>
            </li>
            <li class="active">
              <a href="{{path('user_security_profile_show')}}">Mon profile</a>
            </li>
            <li class="active">
              <a href="{{path('user_security_login')}}">Login</a>
            </li>
            <li class="active">
              <a href="{{path('user_security_logout')}}">Logout</a>
            </li>
            <li class="active">
              <a href="{{path('register')}}">Register</a>
            </li>
          </ul>
        </li>

        <li>
          <input type="checkbox" checked="checked">
          <i></i>
          <h3><span class="glyphicon glyphicon-user"></span> Language</h3>

        
{% form_theme localeForm 'AppBundle:form:radio.html.twig' %}
{{ form(localeForm) }}

        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
{% endblock sidebar %}
